# Python 101
-------------

In [ ]:
print("I will learn Python")

I will learn Python

In [ ]:
# Basic Calculation !!!
print(5 * 2)
print(5 ** 2)
print(7 / 2)
print(7 // 2) # floor division ปัดเศษลง

10
25
3.5
3

In [ ]:
pow(5, 2) # Function ยกกำลัง
abs(-666)

666

In [ ]:
# modulo หารเทิร์นเศษออกมา
5 % 2
5 % 5

0

# 5 building blocks
-------------

In [ ]:
# 5 building blocks
# 1. variables
# 2. data types
# 3. data structure
# 4. function
# 5. control flow
# 6. OOP >> แถม

In [ ]:
# assign / create a variables
my_name = "Nont" # str
age = 26 # int
gpa = 3.80 # float
movie_lover = False # bool

In [ ]:
# case sensitive >> A != a
print(my_name, age, gpa, movie_lover)

Nont 26 3.8 False

In [ ]:
# over write a value
age = 27
new_age = age - 1
print(age, new_age)

27 26

In [ ]:
s23_price = 30000
discount = 0.15
new_s23_price = s23_price * (1-discount)
print(new_s23_price)

25500.0

In [ ]:
# remove variables
del new_s23_price

In [ ]:
# count variables
age = 25
age += 1
age += 1
age -= 2
age *= 2
age /= 2
print(age)

25.0

In [ ]:
# data types
# str int float bool

In [ ]:
age = 25
gpa = 3.80
school = "CAMT"
movie_lover = False

In [ ]:
# check data types
print( type(age) )
print( type(gpa) )
print( type(school) )
print( type(movie_lover) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# convert type
x = 100
x = str(x)
print( x, type(x) )

100 <class 'str'>

In [ ]:
y = True # T=1, F=0
y = int(y)
print( y, type(y) )

1 <class 'int'>

In [ ]:
# type hint
age: int = 26
print(age, type(age))

26 <class 'int'>

In [ ]:
# function
print("Hello")
print(pow(5, 2), abs(-5))

Hello
25 5

In [ ]:
# greeting() >> definite your function
def greeting(name= "Nont", location= "Thailand"):
    print("Hello " + name)
    print("He is in " + location)

In [ ]:
greeting(location="Japan", name= "Yoko") # if swab position Put parameter
greeting("Boruto", "Korea") # if correct position

Hello Yoko
He is in Japan
Hello Boruto
He is in Korea

In [ ]:
def add_two_nums(num1, num2):
    print("Calculation")
    print("Done!")
    return num1 + num2 # function after reture will not work!! put before reture

In [ ]:
result = add_two_nums(15, 15)
print(result)

Calculation
Done!
30

In [ ]:
# work with string
text = "Hello World"

long_text = """
This is very long text
This is a new line
eiei
"""

print(text)
print(long_text)

Hello World

This is very long text
This is a new line
eiei

In [ ]:
# string template : fstrings
my_name ="Nont"
location = "Thailand"

text = f"Hi! my name is {my_name} and I live in {location}"
print(text)

Hi! my name is Nont and I live in Thailand

In [ ]:
"Hi! my name is {} location {}" .format(my_name, location)

'Hi! my name is Nont location Thailand'

In [ ]:
text = "a duck walks into a bar"
print(text)

a duck walks into a bar

In [ ]:
print(len(text))

23

In [ ]:
# slicing
text[22]

'r'

In [ ]:
text[2:6] # up to, but not include 6
text[7: ] # white space >> to end
text[-3: ]

'bar'

In [ ]:
# string is immutable
name = "Python" # >> Cython
name = "C" + name[1: ]
print(name)

Cython

In [ ]:
text = "a duck walks into a bar"

In [ ]:
# function vs. method
# string methods
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.replace("duck", "lion")

'a lion walks into a bar'

In [ ]:
words = text.split(" ")
print(words, type(words))

['a', 'duck', 'walks', 'into', 'a', 'bar'] <class 'list'>

In [ ]:
" ".join(words)

'a duck walks into a bar'

In [ ]:
# method = function that created for the object

In [ ]:
# data structure
# 1. list []
# 2. tuple ()
# 3. dictionary {}
# 4. set {unique}

In [ ]:
# list
# list is mutable
shopping_item = ["pen", "notebook", "eraser"]

shopping_item[0] = "pencil"

print(shopping_item)

['pencil', 'notebook', 'eraser']

In [ ]:
# list methods
shopping_item.append("ruler")
print(shopping_item)

['pencil', 'notebook', 'eraser', 'ruler', 'ruler', 'ruler', 'ruler']

In [ ]:
# sort items (ascending order by defualt A-Z)
shopping_item.sort(reverse=True) # descending order
print(shopping_item)

['ruler', 'ruler', 'ruler', 'ruler']

In [ ]:
def mean(score):
    return sum(score) / len(score)

In [ ]:
score = [55, 65, 30, 70]
print(mean(score))

55.0

In [ ]:
# list methods : remove and pop
# remove >> remove a value
# pop >> remove the last one form right side

In [ ]:
# .insert()
shopping_item.insert(1, "pen")
print(shopping_item)

['ruler', 'pen', 'pen', 'ruler', 'ruler', 'ruler']

In [ ]:
# lists + lists
item1 = ["egg", "milk"]
item2 = ["cream", "water"]
print(item1 + item2)

['egg', 'milk', 'cream', 'water']

In [ ]:
# tuple () is immutable
tup_items = ("egg", "bread", "pepsi")
tup_items

['egg', 'bread', 'pepsi']

In [ ]:
# username password
s1 = ("student001", "123456")
s2 = ("student002", "654321")

user_pw = (s1, s2)
print(user_pw)

(('student001', '123456'), ('student002', '654321'))

In [ ]:
# tuple unpacking
username, password = s1

print(username, password)

student001 123456

In [ ]:
# tuple unpacking 3 values
name, age, gpa = ("Nont", 26, 3.80)
print(name, age, gpa)

Nont 26 3.8

In [ ]:
# set {unique}
courses = ["Python", "R", "SQL", "SQL", "sql"]

In [ ]:
set(courses)

{'Python', 'R', 'SQL', 'sql'}

In [ ]:
# dictionary key: value pairs
course = {
    "name": "Data ScienceBoostcamp",
    "duration": "3 months",
    "students": 200,
    "replay": True,
    "skills": ["Google Sheets", "SQL", "Python", "ML", "Stats"]
}

In [ ]:
course

{'name': 'Data ScienceBoostcamp',
 'duration': '3 months',
 'students': 200,
 'replay': True,
 'skills': ['Google Sheets', 'SQL', 'Python', 'ML', 'Stats']}

In [ ]:
course["skills"]

['Google Sheets', 'SQL', 'Python', 'ML', 'Stats']

In [ ]:
course["start_time"] = "9am" # >> create new key and value

course["language"] = "Thai"

course

{'name': 'Data ScienceBoostcamp',
 'duration': '3 months',
 'students': 200,
 'replay': True,
 'skills': ['Google Sheets', 'SQL', 'Python', 'ML', 'Stats'],
 'start_time': '9am',
 'language': 'Thai'}

In [ ]:
# delete key
del course["language"]

course

{'name': 'Data ScienceBoostcamp',
 'duration': '3 months',
 'students': 200,
 'replay': True,
 'skills': ['Google Sheets', 'SQL', 'Python', 'ML', 'Stats'],
 'start_time': '9am'}

In [ ]:
# update value
course["replay"] = False

course

{'name': 'Data ScienceBoostcamp',
 'duration': '3 months',
 'students': 200,
 'replay': False,
 'skills': ['Google Sheets', 'SQL', 'Python', 'ML', 'Stats'],
 'start_time': '9am'}

In [ ]:
# nested dict and lists
course["skills"][0:3]

['Google Sheets', 'SQL', 'Python']

In [ ]:
course

{'name': 'Data ScienceBoostcamp',
 'duration': '3 months',
 'students': 200,
 'replay': False,
 'skills': ['Google Sheets', 'SQL', 'Python', 'ML', 'Stats'],
 'start_time': '9am'}

In [ ]:
# dict methods
list( course.keys() )

['name', 'duration', 'students', 'replay', 'skills', 'start_time']

In [ ]:
list( course.values() )

['Data ScienceBoostcamp',
 '3 months',
 200,
 False,
 ['Google Sheets', 'SQL', 'Python', 'ML', 'Stats'],
 '9am']

In [ ]:
course.items()

dict_items([('name', 'Data ScienceBoostcamp'), ('duration', '3 months'), ('students', 200), ('replay', False), ('skills', ['Google Sheets', 'SQL', 'Python', 'ML', 'Stats']), ('start_time', '9am')])

In [ ]:
course.get("replay") # >> when wrong key, nothing

False

In [ ]:
course["replay"]# >> when wrong key, error

False

In [ ]:
# Recap
# list, dictionary = mutable
# tuple, string = immutable

In [ ]:
# control flow
# if for while

In [ ]:
# if

#final exam 150 questions, pass >=120
def grade(score):
    if score >= 120:
        return "A"
    elif score >= 100:
        return "B"
    elif score >= 80:
        return "C"
    else:
        return "D"

In [ ]:
result = grade(105)
print(result)

B

In [ ]:
# use and, or in function
# course == data science, score >= 80 passed
# course == english, score >= 70 passed

def grade(course, score):
    if course == "english" and score >= 70:
        return "passed"
    elif course == "data science" and score >= 80:
        return "passed"
    else:
        return "failed"

In [ ]:
result = "english", grade("english", 80), "data science", grade("data science", 40)
print(result)

('english', 'passed', 'data science', 'failed')

In [ ]:
# for loop

# if score >= 80, passed
#scores = [88 ,80, 76]

#new_scores = []

#for score in scores:
    #new_scores.append(score-2)

#print(new_scores)

[86, 78, 74]

In [ ]:
 def grading_all(scores):
    new_scores = []
    for score in scores:
        new_scores.append(score+2)
    return new_scores

In [ ]:
grading_all([75, 99, 55, 60])

[77, 101, 57, 62]

In [ ]:
# list comprehension
scores = [75, 99, 55, 60]

In [ ]:
#for s in scores:
    #print(s*2)

new_scores = [s*2 for s in scores ]
new_scores

[150, 198, 110, 120]

In [ ]:
# list comprehension >> abrev.
friends = ["Non", "Nun", "Nin"]
#for f in friends:
    #print(f.upper() )
[f.upper() for f in friends ]

['NON', 'NUN', 'NIN']

In [ ]:
# while loop
count = 0

while count < 5:
    print("hello")
    count += 1

hello
hello
hello
hello
hello

In [ ]:
# chatbot for fruit order
user_name = input("what's your name? ")

what's your name? Nont

In [ ]:
user_name

'Nont'

In [ ]:
def chatbot():
    fruits = []
    while True:
        fruit = input("what fruit do you want to order? ")
        fruits.append(fruit)
        if fruit == "exit":
            return fruits

In [ ]:
chatbot()

what fruit do you want to order? exit

['exit']

In [ ]:
# HW01 - chatbot to order pizza
# HW - pao ying chub

In [ ]:
# OOP - Object Oriented Programming
# Dog Class

In [ ]:
class Dog:
    def __init__(self, name, age): # dunder __
        self.name = name
        self.age = age

In [ ]:
dog1 = Dog("Gog", 3)
dog2 = Dog("Bob", 2)

In [ ]:
print(dog2.name, dog2.age)

Bob 2

In [ ]:
class Employee:
    def __init__(self, id, department, position):
        self.id = id
        self.department = department
        self.position = position
    def hello(self):
        print(f"Hello!! my name is {self.id}")
    def work_hours(self, hours):
        print(f"{self.id} works for {hours} hours.")

In [ ]:
emp1 = Employee("em01", "mkt", "content")
emp2 = Employee("em02", "acc", "audit")

In [ ]:
print(emp1.id, emp1.department, emp1.position)
print(emp2.id, emp2.department, emp2.position)
emp1.hello()
emp1.work_hours(6)

em01 mkt content
em02 acc audit
Hello!! my name is em01
em01 works fot 6 hours.

In [ ]:
# Object: attribute => id, position
# Object: method => hello()

In [ ]:
# HW3 - create new ATM class

class ATM:
    def __init__(self, name, bank, balance):
        self.name = name
        self.bank = bank
        self.balance = balance
    def deposit(self, amt):
        self.balance += amt

In [ ]:
kbank = ATM("Nont", "kbank", 1000)
print(kbank.balance)

kbank.deposit(1500)
print(kbank.balance)

1000
2500